{% extends "::base.html.twig" %}
{% block body %}
    <a href="{{path('word_new')}}">New word</a>
    <a href="{{path('mainPage')}}">Back</a>
    <br/>
    <div class="col-md-4 col-md-offset-4">
        <p>New words: {{newNum}}</p>
        <p>Words to repeat: {{toRepeatNum}}</p>
        <a href="{{path('study',{"deck":deck.name})}}">Start learning</a>
    <div>
{% endblock %}