{% extends "::base.html.twig" %}
{% block body %}
    <a href="{{path('fos_user_security_logout')}}">Log out</a>
    <p>Hi {{name}}</p>
    <a href="{{path('deck_new')}}">New deck</a>
    <table class="table table-striped">
        <tr>
            <th>Deck</th>
            <th>Due</th>
            <th>New</th>
        </tr>
        {% for deck in decks %}
            <td><a href="{{path('learnDeck',{"deck":deck.name})}}">{{deck.name}}</td>
            <td>7</td>
            <td>10</td>
        {% endfor %}
        
    </table>
{% endblock %}