{% extends "::base.html.twig" %}
{% block body %}
    <a href="{{path('fos_user_security_logout')}}">Log out</a>
    <p>Hi {{name}}</p>
    <a href="{{path('deck_new')}}">New deck</a>
    {{dump(decks)}}
    <table class="table table-striped">
        <tr>
            <th>Deck</th>
            <th>Due</th>
            <th>New</th>
        </tr>
        {% for deck in decks %}
            <tr>
                <td><a href="{{path('learnDeck',{"deck":deck[0].name})}}">{{deck[0].name}}</td>
                <td>{{deck[2]}}</td>
                <td>{{deck[1]}}</td>
            </tr>
        {% endfor %}
        
    </table>
{% endblock %}