{% extends "::base.html.twig" %}
{% block body %}
    <div class="col-md-6 col-md-offset-3">
        
        <a href="{{path('learnDeck',{"deck":deck.name})}}">Back</a>
        <br/>
        <p>{{wordsNum}}</p>
        <p>{{words[n].pL}}</p>
        <p>{{words[n].dE}}</p>
        {% if n < wordsNum-1 %}
            <a href="{{path('study',{"deck":deck.name, "n":n+1})}}">Next</a>
        {% endif %}

        <a href="#">Bad</a> <a href="#">Hard</a> <a href="#">Good</a> <a href="#">Easy</a>
    </div>
{% endblock %}